nbproject
drupal-8.2.1
app/drupal-src/modules/*/contrib
# Ignore paths that contain user-generated content.
app/drupal-src/sites/default/*/files/*
# Ignore configuration files that may contain sensitive information.
